@use "../variables/colors" as *;

.flavors {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 960px;
    gap: 20px 30px;
  }

  .flavor {
    background: #ffffff;
    padding: 40px;

    &__image {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;

      & > img {
        width: 180px;
      }
    }

    &__name {
      font-size: medium;
      margin-bottom: 12px;
      text-align: center;
    }

    &__desc {
      color: $color-text;
      line-height: 1.2;
      text-align: left;
    }
  }
}
