@use "../variables/colors" as *;

.visit-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__item {
    padding-left: 18px;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -18px;
      width: 12px;
      height: 12px;
      background-color: $color-text;
      mask-image: url("/assets/icons/icon_star.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      translate: 0 -50%;
    }
  }

  &__content {
    line-height: 1.4;
  }
}
