@use "../variables/colors" as *;

.visit {
  padding: 120px 0;
  text-align: center;

  &__info {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 24px;
    max-width: 960px;
    margin: 0 auto;
  }

  &__map {
    width: 100%;
    background-color: #eee;
    border-radius: 12px;
  }

  &__details {
    width: 100%;
    max-width: 400px;
    padding: 24px;
  }
}
