@use "./bender/bootstrap-reboot.css";
@use "./variables/colors" as *;
@use "./variables/fonts" as *;

body {
  @include font-base;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  color: $color-text;
  background-color: $color-white;
}

.section {
  &__title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 16px;
    color: $color-text;
    margin-bottom: 40px;
  }
}
