@use "./bender/bootstrap-reboot.css";
@use "./variables/colors" as *;
@use "./variables/fonts" as *;

body {
  @include font-base;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  color: $color-text;
}
