@use "./bender/reset.css";
@use "./variables/colors" as *;
@use "./variables/fonts" as *;
@use "./variables/fonts" as *;

body {
  @include font-base;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  color: $color-text;
  background-color: $color-white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 120px 160px;
  &__title {
    margin-top: -2px;
    font-size: 36px;
    position: relative;
    margin-bottom: 12px;
    @include font-accent;

    &::before {
      background-image: url("/assets/common/title_line.svg");
      content: "";
      width: 180px;
      height: 31px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    margin-bottom: 44px;
  }

  &__description {
    margin-bottom: 54px;
  }
}
